.Home {
  margin: 100px 0;
  .cable-loss-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .dropdown {
    height: 55px;
    width: 250px;
  }

  .dropdown-item {
    text-align: center;
    width: 250px;
  }

  .form-input {
    width: 250px;
  }

  .form-label {
    width: 250px;
  }

  .square-btns {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
